<sly data-sly-use.tag="com.adobe.cloud.fonts.Tag" data-sly-test="${tag.id}">
    <!--/* Default Link Tag Embed */-->
    <link data-sly-test="${tag.embedType == 'linkTag'}" 
          rel="stylesheet" href="${'{0}/{1}.css' @ format = [tag.url, tag.id], context = 'uri'}" />
    <!--/* Style Tag Embed */-->
    <style data-sly-test="${tag.embedType == 'styleTag'}">
    	@import url("${'{0}/{1}.css' @ format = [tag.url, tag.id], context = 'uri'}");
    </style>
</sly>
<sly data-sly-test="${!tag.id}"><!-- No Adobe Fonts Project ID configured. --></sly>