<template data-sly-template.content="${@ config }">
    <coral-columnview-item class="foundation-collection-item" data-sly-attribute.variant="${config.hasChildren ? 'drilldown' : ''}" 
        data-foundation-collection-item-id="${resource.path}">
        <coral-columnview-item-thumbnail>
            <coral-icon data-sly-test="${resource['jcr:primaryType'] != 'cq:Page'}" class="foundation-collection-item-thumbnail" icon="folder"></coral-icon>
            <coral-icon data-sly-test="${resource['jcr:primaryType'] == 'cq:Page'}" class="foundation-collection-page-thumbnail" icon="type"></coral-icon>
        </coral-columnview-item-thumbnail>
        <coral-columnview-item-content>
            <div class="foundation-collection-item-title" itemprop="title" title="${config.title}">
                ${config.title}
            </div>
        </coral-columnview-item-content>
        <meta class="foundation-collection-quickactions" 
                data-foundation-collection-quickactions-rel="${config.quickactionsRels.isEmpty ? 'none' : config.quickactionsRels @join=' '}">
        <meta itemprop="lastmodified" content="${config.lastModifiedDate}">
        <meta itemprop="lastmodifiedby" content="${config.lastModifiedBy}">
    </coral-columnview-item>
</template>